<nav class="flex items-center justify-between my-6">

    <div class="pagination-left">
        {{#if prev}}
            <a
                class="btn btn-ghost"
                href="{{page_url prev}}"
            >
                ← Previous
            </a>
        {{/if}}
    </div>

    {{#match pages "!=" 1}}
        <span class="hidden lg:block text-sm">
            Page {{page}} of {{pages}}
        </span>
    {{/match}}

    <div class="pagination-right">
        {{#if next}}
            <a
                class="btn btn-ghost"
                href="{{page_url next}}"
            >
                Next →
            </a>
        {{/if}}
    </div>

</nav>