{{!< default}}

{{#post}}

<main class="container">
    <article class="{{post_class}} prose">

        {{#match @page.show_title_and_feature_image}}
            <header class="gh-canvas">
                <h1 class="mb-4">
                    {{title}}
                </h1>

                {{> "post-image"}}
            </header>
        {{/match}}

        <div class="gh-canvas">
            {{content}}
        </div>

    </article>
</main>

{{/post}}