{{!< default}}

<main class="container">

    {{#tag}}
    <section class="mt-8 mb-6 gh-canvas">
        <h1 class="text-3xl">
            {{name}}
        </h1>
        {{#if description}}
            <div class="mt-2">{{description}}</div>
        {{/if}}
    </section>
    {{/tag}}

    <div class="grid grid-flow-row divide-y gh-canvas">
        {{#foreach posts}}
            {{> "loop"}}
        {{/foreach}}
    </div>

    <div class="gh-canvas">
        {{pagination}}
    </div>

</main>